body {
  background-image: var(--bg-mobile);
}
@media screen and (min-width: 600px) {
  body {
    background-image: var(--bg-tablet);
  }
  body .container {
    width: min(83.3333%, 64rem);
  }
  body .quoteBlock__content {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  body .quoteBlock--wrapper {
    width: min(100%, 57.3rem);
    margin-top: 8rem;
  }
  body .quoteBlock__author {
    margin-top: 1.3rem;
  }
  body .refresh {
    margin-top: 0.9rem;
  }
  body .greetingBlock,
  body .location {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 3.6px;
  }
  body .extra-text {
    display: inline;
  }
  body .time {
    font-size: 17.5rem;
    line-height: 17.5rem;
    letter-spacing: -4.375px;
    margin: 0;
  }
  body .timeBlock__abbreviation {
    margin-left: 1.1rem;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  body .expand-content {
    margin-top: 8rem;
    margin-bottom: 6.4rem;
    width: 14.6rem;
    height: 7.6rem;
    padding: 0.8rem 0.9rem 0.8rem 2.1rem;
  }
  body .expand-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 5px;
  }
  body .expand-icon-wrapper {
    width: 4rem;
    height: 4rem;
  }
  body .less-time-info {
    margin-top: 15.3rem;
  }
  body .detailsBlock {
    height: calc(100vh - 58.4rem);
    padding-top: 11.9rem;
  }
  body .detailsBlock .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 6.4rem;
         column-gap: 6.4rem;
    row-gap: 4.8rem;
  }
  body .detailsBlock__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.3rem;
    letter-spacing: 2.6px;
    margin-bottom: 0;
  }
  body .detailsBlock__result {
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: left;
    font-weight: 700;
  }
}
@media screen and (min-width: 1000px) {
  body {
    background-image: var(--bg-desktop);
  }
  body .quoteBlock--wrapper {
    margin-top: 5.6rem;
  }
  body .container {
    width: min(77.08333%, 111rem);
  }
  body .refresh {
    margin-top: 1rem;
  }
  body .timeBlock--wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 9.8rem;
  }
  body .greetingBlock {
    font-size: 2rem;
    letter-spacing: 4px;
  }
  body .time {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -5px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  body .timeBlock__abbreviation {
    font-size: 4rem;
    line-height: 4rem;
  }
  body .location {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 4.8px;
  }
  body .expand-content {
    margin: 0;
  }
  body .expand-content:hover {
    cursor: pointer;
  }
  body .expand-content:hover .expand-icon-wrapper {
    background-color: #999999;
    transition: 0.5s;
  }
  body .expand-icon-wrapper {
    transition: 0.5s;
  }
  body .refresh:hover {
    cursor: pointer;
  }
  body .refresh:hover .refresh-icon {
    opacity: 1;
    transition: 0.5s;
  }
  body .refresh-icon {
    transition: 0.5s;
  }
  body .less-time-info {
    margin-top: 5.6rem;
    margin-bottom: 5.6rem;
  }
  body .detailsBlock {
    height: calc(100vh - 40rem);
    padding-top: 7.4rem;
  }
  body .detailsBlock .container {
    -moz-column-gap: 4.7rem;
         column-gap: 4.7rem;
    row-gap: 0;
  }
  body .detailsBlock__item {
    gap: 0.9rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  body .detailsBlock__item:nth-child(even) {
    padding-left: 9.4rem;
    border-left: 1px solid rgba(48, 48, 48, 0.2509803922);
  }
  body .detailsBlock__item:nth-child(1), body .detailsBlock__item:nth-child(2) {
    padding-bottom: 4.2rem;
  }
  body .detailsBlock__result {
    font-size: 5.6rem;
    line-height: 5.6rem;
    font-weight: 700;
  }
}/*# sourceMappingURL=responsive.css.map */